.Products__catalog {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding:50px 0px;
    justify-items: center;
    cursor: pointer;
}

.Card__image {
    max-width: 300;
}
.Card__title {
    color: #a7304a
}
.Card__btn {
    font-weight: bold;
    height: 30px;
  width: 70px;
  font-size: 12px;
  border:2px solid #a7304a;
  border-radius: 4px;
  color: black;
  text-align: center;
}