.MainPage_img {
  width: 200px;
  height: 200px;
}
.MainPage__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style: none;
  max-width: 30%;
}
.MainPage__catalog {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 50px;
  justify-content: space-between;
  margin-top: 50px;
}
.MainPage__button {
  position: relative;
  left: 45%;
  margin-bottom: 75px;

  background-color: rgb(233, 199, 199);
  color: #000;
  font-weight: 600;
  padding: 10px 20px 10px 20px;

  border-radius: 5px;
  border: 1px solid rgb(233, 199, 199);

  cursor: pointer;
}

.MainPage__button:hover {
  background-color: #a7304a;
  color: #fff;
}
.MainPage__text {
  text-align: center;
}
